extends base

block head
    script(src="/static/js/controllers/home.js")
    link(rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css")

block content
    div.container
        div.header
            ul(class="nav nav-pills pull-right" role="tablist")
                li(role="presentation" class="active"): a(href="#") Home

            h3(class="text-muted") Feedbot




        div(ng-controller="HomeController")#links
            ul(ng-repeat="article in articles")
                li: a(href="{{article.link}}" target="_blank") {{article.title}}




        div.footer
            |Created as a part of hack day @
            a(href="http://www.timedoctor.com/?a_aid=544dda60836e0") TimeDoctor
            | - the best time tracking app out there

